<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Общая информация:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        Фамилия:
      </ion-col>
      <ion-col>
        Гербей
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Группа:
      </ion-col>
      <ion-col>
        308 гр
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Специальность:
      </ion-col>
      <ion-col>
        Software Engineering
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
